body {
  background-image: url("images/Scene-24.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}

h1,
h2,
h4,
p {
  font-family: "Fredoka", sans-serif;
  text-align: center;
}

h1,
h2,
h3 {
  color: #962071;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.7);
}

form {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

#enter-a-city {
  border: #76b39d;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  border-color: #76b39d;
  border-image: none;
  border-style: solid;
  border-width: 4px;
  font-family: "Fredoka", sans-serif;
  text-align: center;
  color: black;
}

button {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  border-color: #76b39d;
  border-image: none;
  border-style: solid;
  border-width: 4px;
  font-family: "Fredoka", sans-serif;
  color: #76b39d;
}

h1 {
  font-size: 75px;
  margin-top: 30px;
  margin-bottom: 0;
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
}

h3 {
  font-family: "Fredoka", sans-serif;
  font-weight: 100;
  font-size: 140px;
}

.degrees {
  font-size: 80px;
}

.seeMore {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.light_mode {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #fdb44b;
  font-size: 50px;
}

.toggle_off {
  color: #76b39d;
  font-size: 40px;
}

.toggle_off_large {
  color: #962071;
  font-size: 90px;
  text-align: center;
  display: block;
}

.toggle_off_large:hover {
  cursor: pointer;
}

.col-2 {
  color: #962071;
  text-align: center;
}

.footer {
  padding-top: 30px;
  color: #fdb44b;
}

#units .active {
  color: #76b39d;
  cursor: default;
  text-decoration: none;
}

#location {
  position: relative;
  top: 4px;
  text-transform: capitalize;
}

#description {
  margin-top: -30px;
  text-transform: capitalize;
}

#forecast-container {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  padding-top: 20px;
}

#github-link {
  color: #962071;
}

#icon {
  position: relative;
  left: 30px;
}

#temperature {
  position: relative;
  left: 30px;
}

#units {
  color: #962071;
  font-size: 25px;
  font-family: "Fredoka", sans-serif;
  position: relative;
  left: -5px;
  bottom: 90px;
}

#celsius-link {
  color: #962071;
}

#fahrenheit-link {
  color: #962071;
}

#h3-details,
#h3-details2 {
  font-size: 30px;
  font-weight: 100;
  margin-top: 50px;
}

#h3-details2 {
  position: relative;
  left: 200px;
}

#date-and-time {
  font-size: 25px;
}
